<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authenticate</title>
    <link rel="stylesheet" href="~/theme/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityServer.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <div class="left-section">
            <div class="absolute">
                <div class="img">
                    <img id="companyLogo" src="~/theme/images/logo.png" alt="Logo">
                </div>
                <div class="title">
                    <h5>Welcome to</h5>
                    <h2 id="companyName">Infodevelopers Mutual Fund</h2>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/theme/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
