@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="login-form">
    <form asp-action="Login" asp-controller="Account">
        <input type="hidden" asp-for="ReturnUrl"/>
        <div class="flex-col">
            <x-small>Date: <span class="medium">@DateTime.Now.ToShortDateString()</span></x-small>
        </div>
        <div class="sub-title">
            <small><b>Welcome back. Please login to your account</b></small>
        </div>
        <div class="login-form__input">
            <div>
                <label asp-for="UserName"></label>
                <div class="inputBox">
                    <input type="text" asp-for="UserName">
                </div>

                <div>
                    <span style="color:red; font-size:13px;" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div>
                <label asp-for="Password"></label>
                <div class="password-container">
                    <input id="password" type="password" asp-for="Password" />
                    <span onclick="togglePasswordVisibility()">
                        <img src="~/theme/images/eyeclose.svg" alt="Eye Close" id="eyeIcon">
                    </span>
                </div>

                <div>
                    <span style="color:red; font-size:13px;" asp-validation-for="Password"></span>
                </div>
            </div>
            <div>
                <a asp-action="ForgotPassword" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Forgot Password</a>
            </div>
            <div>
                <button class="btn" type="submit">Login</button>
            </div><br>
        </div>
        <div>
            <small style="text-align: center">Don't have an Account?&nbsp;&nbsp;<a style="font-size: 15px;" asp-action="Register" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Register</a></small>
        </div>
    </form>
</div>
